body {
    margin: 0px; padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.row {
    width: 100%;
}
.row:after {
 content:‘’;
 display: table;
 clear: both;
}
.column {
    float: left;
    margin: 2px 2px 30px 0px;
}
td {
    vertical-align:top;
}
.table-data {
    width: 100%;
    border: 1px solid #8c6d8f;
    border-color:#b39eb5;
    box-shadow: 5px 5px #48294ba6;
}
.table-data td {
    padding: 10px;
}
input,textarea,select {
    border: 2px solid #b39eb5;
    border-radius: 8px;
}
input:focus,textarea:focus{
    background-color: #b39eb5;
}
label{
    font-weight: bold;
}
.tajuk {
    font-size: 20px;
}
.fancy {
    font-family: Monotype Corsiva, Freestyle Script, Brush Script MT, Verdana !important;
}
.nota {
    font-size: small;
    color: rgb(125, 90, 165);
}
.imej {
    border-radius: 10px;
    border: 2px solid #fff;
    filter: drop-shadow(5px 5px 3px #8f7092);
}
.mainmenu {
    display: block;
    width: 130px;
    height: 25px;
    background:#b39eb5 ;
    padding: 2px;
    text-align: center;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-weight: 25px;
    box-shadow: #211322a6 5px 5px 10px 0;
    text-decoration: none;
}
.mainmenu:hover {
    background: linear-gradient(#8c6d8f,#8c6d8f);
}
.button {
    background: #b39eb5;
    padding: 4px;
    text-align: center;
    border-radius: 5px;
    color: #000000;
    line-height: 25px;
    box-shadow: #48294ba6 5px 5px 10px 0;
    text-decoration: none;
}
.button:hover {
    background: linear-gradient(#8c6d8f,#8c6d8f);
}
/* untuk menu mendatar sahaja*/
div.hmenu {
    float:left; width:100%;
    position:relative;
}
ul.menu, .hmenu ul {
    position:relative; left:15%;
    margin:0; padding:0;
    list-style-type:none;
    height:30px;
    text-align: center;
}
.hmenu li {
    float:left; width:150px;
    position:relative;
}
.hmenu li ul {
    display:none; position:absolute;
    left:0; top:30px;
}
.hmenu li:hover ul{
    display:block;
}